.green {
    background-color: green;
}

.red {
    background-color: maroon;
}

.small {
    transform: scale(0.8);
}

.large {
    transform: scale(1.2);
}

.counter-btn {
    font-size: 40px;
    font-weight: bold;
    color: white
}